body {background-color: black;
    background-image: url('/html/img/galaxy-animated.gif');
    font-family:  "Comic Sans MS", "Chalkboard SE-Regular", "Chalkboard", "Comic Neue", Tahoma, sans-serif;
    font-size: 15pt;
    color: snow;}

    pre {
      font-family: monospace, "Courier New", Courier;
      margin: 0;
    }

    .up-arrow{
      font-family: Tahoma, sans-serif;
  }

    #white-music-note {
    background-color: white;
    padding: 0;
  }
      
    h1, h2 {
        color:  snow;
      }
      
      a:link {
        text-decoration: none;
        color: hotpink;
      }
      
      a:visited {
        text-decoration: none;
        color: hotpink;
      }
      
      a:hover {
        text-decoration: underline;
        color: hotpink;
      }
      
      a:active {
        text-decoration: underline;
        color: hotpink;
      }

    #sentry-feedback {
      --background: snow;
      --background-hover:#f6f6f7;
      --foreground: black;
      --font-family: "Comic Sans MS", "Chalkboard SE-Regular", "Chalkboard", "Comic Neue", Tahoma, sans-serif;
      --submit-background: hotpink;
      --submit-background-hover: hotpink;
      --submit-border: hotpink;
      --submit-foreground: snow;
      --submit-foreground-hover: snow;
      --error: black;
      --success: black;
      --cancel-background: transparent;
      --cancel-background-hover: var(--background-hover);
      --cancel-border: hotpink;
      --cancel-foreground: black;
      --cancel-foreground-hover: black;
      
    }
    